.grid-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  margin: 2% auto 5% auto;
  font-family: "Montserrat", sans-serif !important;
}

.show-grid {
  display: flex;
  flex-wrap: wrap;
}

.requiredField {
  color: #ef233c;
}

.card {
  margin-bottom: 20px;
  border-bottom: 1px !important;
  overflow: visible !important;
  border-radius: 4px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.05);
}

.card-header {
  background: #ffffff;
}

.card-title {
  margin-bottom: 0;
}

.card-title:hover {
  cursor: pointer;
  color: #ef233c;
}

.info {
  color: #ffffff;
  background: #ef233c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.infoHeading {
  font-size: 2rem;
  margin-top: 25%;
  font-weight: bold;
}

.info .subHeading {
  /* margin: 10% auto auto auto; */
  padding-top: 15%;
  font-size: 1rem;
  font-weight: bold;
}

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.formContent form {
  /* margin: 25% 5% 5% 5%; */
  width: 85%;
  /* margin-top: 200%; */
  /* padding-top: 10%;
  padding-bottom: 10%; */
}

.info,
.formContent {
  /* height: 135vh; */
  /* max-height: 1600px; */
  padding-top: 10%;
  padding-bottom: 10%;
  /* overflow-y: auto; */
}

.info li {
  font-size: 1rem;
  margin-top: 5%;
}

.info li:last-of-type {
  margin-bottom: 20%;
}

#presSignUpBtn {
  float: right;
  color: #ffffff;
  background: #ef233c;
  border: none;
  font-size: 1.25rem;
  padding: 4%;
}

.panel-heading {
  background: none !important;
}

.panel-body label {
  font-weight: normal !important;
}

.rdtActive {
  background-color: #ef233c !important;
}

.panel-title a {
  text-decoration: none;
}

.panel-title a:hover {
  color: #ef233c;
}

.well {
  background: none !important;
}

/* .grades_multiselect {
  width: 200px;
} */

select#grades {
  background-position: right 30px center;
}

.grades_selectBox {
  position: relative;
}

.grades_selectBox select {
  width: 100%;
}

.grades_selectBox .form-control-feedback {
  margin-right: 1.5em;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hide {
  display: none;
}

.showGrades {
  display: block;
  border: 1px #dadada solid;
  text-align: center;
  float: none;
  margin: 0 auto;
}

.showGrades .row {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card.pres-date-time {
  overflow: visible;
}

.dateTimeChoice {
  margin-top: 3%;
}

.presentationDesc {
  text-align: justify;
  margin-top: 5%;
  margin-bottom: 5%;
}

.alert-success ul {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.8em;
}

.topic-valid,
.kahoot-valid,
.dateTime-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.dateTime-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.kahoot-options {
  display: flex;
}

.kahoot-options > * {
  flex: 1;
}

label[for="topic"] {
  color: #333333 !important;
}

/* .dateTime-group {
  position: relative;
}

.dateTime-group .dateTimeChoice > #dateTime,
.dateTime-group .rdt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.dateTime-group {
  position: relative;
}

.dateTime-group .rdt,
.dateTime-group .dateTime-valid,
.dateTime-group .dateTime-invalid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.dateTime-group .rdt > input {
  position: relative;
  background: none !important;
  z-index: 2 !important;
}

.dateTime-group > .dateTime-valid,
.dateTime-group > .dateTime-invalid {
  z-index: 1 !important;
}

.dateTime-group input#dateTime.is-invalid ~ .rdt > input.form-control {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
}
.dateTime-group input#dateTime.is-valid ~ .rdt > input.form-control {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
}
