.grid-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  margin: 2% auto 5% auto;
  /* font-family: "Montserrat", sans-serif !important; */
}

#schools_info {
  color: #ffffff;
  background: #ef233c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 50px;
}

#schools_info #desc {
  padding: 1.1em;
  text-align: justify;
}

#our_presentations {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#presentation_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

#our_presentations .tab-content {
  padding: 20px 0;
}

#our_presentations > .nav_tabs > a {
  color: #000000 !important;
}

#our_presentations .nav-tabs > a.active {
  background-color: #ef233c;
  color: #ffffff;
}

.presentation_desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 20px 5px;
}

.presentation_desc b {
  margin: 15px 0 15px 0;
}

.presentation_title {
  text-align: left;
  font-weight: bold;
}

/* .presentation_desc i {
  font-size: 1.8em;
} */

#presentation_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
}
