h1 {
  font-size: 4rem;
  font-family: "Roboto";
  text-align: center;
}

h2 {
  font-weight: bold;
  font-family: "Roboto";
  text-align: center;
}

h3 {
  font-family: "Roboto";
  text-align: center;
}

p,
ul,
ol {
  font-size: 1.75rem;
  font-family: "Roboto";
}

p {
  text-align: center;
}

@media (max-width: 767px) {

  h1,
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p,
  ul,
  ol {
    font-size: 1.5rem;
  }
}

main .container {
  padding: 4em;
}

.redcontainer {
  background-color: #D00000;
  color: white;
}

@media (max-width: 767px) {
  main .container {
    padding: 2em 10px;
  }
}

#swiper {
  padding: 0px;
}

#logo {
  height: 2em;
}

a.dropdown-toggle.btn {
  padding: 11px 10px;
  font: inherit;
  background-color: white;
  border-radius: 8px;
}

a.dropdown-toggle.btn:hover {
  background-color: #ddd;
}

#donate {
  background: red;
  margin-left: 1em;
  border-radius: 30px;
  border-style: none;
  padding: 15px 20px;
  color: white;
}

#donate:hover,
#donateButton:hover {
  background-color: #D00000;
}

#donateButton {
  background: red;
  margin-top: 2em;
  border-radius: 30px;
  border-style: none;
  padding: 15px 20px;
}

@media (max-width: 991px) {
  #donate {
    border-radius: 0px;
    border-style: none;
    padding: 10px 0 10px 10px;
    margin-left: 0;
  }
}

#spacer {
  height: 5em;
}

#get-involved-form {
  height: 125em;
}

#booking-form {
  height: 120em;
}

#booking-schedule {
  height: 92em;
  position: relative;
  top: -95px
}

ul.nav a:link,
ul.nav a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active,
#blogcontainer .blog-item:nth-child(odd) a:hover,
#blogcontainer .blog-item:nth-child(even) a:active {
  color: red;
}

.redcontainer a:link,
.redcontainer a:visited,
#blogcontainer .blog-item:nth-child(even) a:link,
#blogcontainer .blog-item:nth-child(even) a:visited {
  color: black;
  display: inline-block;
}

.redcontainer a:hover,
.redcontainer a:active,
#blogcontainer .blog-item:nth-child(even) a:hover,
#blogcontainer .blog-item:nth-child(even) a:active {
  color: white;
}

.testimonial-quote {
  color: rgba(0, 0, 0, .4);
  text-align: center;
}

.testimonial-slider blockquote {
  text-align: center;
  border: none;
}

.testimonial-slider blockquote>p {
  font-size: 1.1em;
}

.testimonial-from {
  color: red;
}

.brands a {
  padding: 0px;
}

.testimonial-slider .swiper-pagination-bullet {
  background: #E5E5E5;
  opacity: 1;
  border-color: #E5E5E5;
}

.testimonial-slider .swiper-pagination-bullet-active {
  background: #f00;
  opacity: 1;
  border-color: #f00;
}

@media(min-width: 991px) {
  .navigation-clean.navbar .navbar-nav>li>a:hover {
    border-radius: 8px;
  }
}

img.parents {
  max-width: 100%;
}

#general-membership p {
  margin-bottom: 15px;
}

#general-membership .membership-email {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 15px;
}

#general-membership .membership-email > p {
  display: inline-block;
  margin-bottom: 0;
}

.executive>.row {
  margin-bottom: 2em;
}

.executive img {
  max-height: 500px;
  width: 65%;
  margin: auto;
  display: block;
  background: #DDDDDD;
  padding: 5px;
  text-align: center;
  line-height: 23;
}

@media (max-width: 767px) {
  .executive img {
    width: 50%;
  }
}

.executive h3 {
  margin: 0.5em;
  color: black;
  font-family: "Roboto";
}

.executive p {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 0 1em;
}

hr {
  margin: 4em auto;
  height: 2px;
  background: #D00000;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Blog Content
*/
#blog-banner {
  margin-top: 5em;
}

.date-location {
  text-align: center;
  font-size: 1.2em;
  margin: 1em 1em;
  font-family: "Caviar Dreams";
  font-weight: bold;
}

.date-location span {
  padding: 0 1em;
}

@media (max-width: 767px) {
  .date-location span {
    display: block;
    padding: 0.2em 0;
  }
}

.blog-icons {
  width: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.blog-item {
  margin-top: 3em;
  padding: 2em 0px;
}

#faqAccordion a {
  color: black;
}

#blogcontainer .blog-item:nth-child(odd),
.greycontainer {
  background-color: #E5E5E5;
  color: black;
}

#blogcontainer .blog-item:nth-child(odd) #date {
  content: url("../assets/images/blog-images/blog-icons/calendar-black.png");
}

#blogcontainer .blog-item:nth-child(odd) #location {
  content: url("../assets/images/blog-images/blog-icons/location-black.png");
}

#blogcontainer .blog-item:nth-child(even) #date {
  content: url("../assets/images/blog-images/blog-icons/calendar-white.png");
}

#blogcontainer .blog-item:nth-child(even) #location {
  content: url("../assets/images/blog-images/blog-icons/location-white.png");
}

#blogcontainer .blog-item:nth-child(even) {
  background-color: #D00000;
  color: white;
}

.blog-content {
  margin-top: 2em;
  text-align: center;
}

#blogcontainer {
  padding: 0px;
}

.blog-content p {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  padding: 2em;
  width: 80%;
}

@media (max-width: 767px) {
  .blog-content p {
    width: 100%;
  }

  .blog-content {
    margin: 2em 0px;
  }
}

span {
  white-space: nowrap;
}

#warning {
  color: red;
}

a:hover>.icon {
  color: red;
}
