@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  height: 100%;
}

body {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  // font-size: 14px !important;
  // line-height: 1.42857143 !important;
  color: #333 !important;
}

h1 {
  // font-size: 4rem;
  font-family: "Roboto";
  text-align: center;
}

h2 {
  font-family: "Roboto";
  text-align: center;
}

h3 {
  font-family: "Roboto";
  text-align: center;
}

p,
ul,
ol,
span {
  // font-size: 1.75rem;
  font-family: "Roboto";
}

p {
  text-align: center;
}

@media (max-width: 767px) {
  // h1,
  // h2 {
  //   font-size: 3rem;
  // }

  // h3 {
  //   font-size: 2rem;
  // }

  // p,
  // ul,
  // ol {
  //   font-size: 1.5rem;
  // }
}

main .container:not(.container-no-padding) {
  padding: 4em;
}

.container-no-padding {
  padding: 0 !important;
}

.card.presentation-item:first-of-type {
  margin-top: 15px;
}

.redcontainer {
  // background-color: #d00000;
  background-color: #ef233c;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 30px;
}

.whitecontainer {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  main .container {
    padding: 2em 10px;
  }
}

#swiper {
  padding: 0px;
}

#logo {
  height: 2em;
}

a.dropdown-toggle.btn {
  padding: 11px 10px;
  font: inherit;
  background-color: white;
  border-radius: 8px;
}

a.dropdown-toggle.btn:hover {
  background-color: #ddd;
}

.primary_red {
  background: red;
  border-radius: 30px !important;
  border-style: none !important;
  padding: 15px 20px !important;
  color: white !important;
  max-width: 300px !important;
}

.primary_red:hover,
#primaryButton:hover {
  background-color: #d00000 !important;
}

#donateButton {
  background: red;
  margin-top: 2em;
  border-radius: 30px;
  border-style: none;
  padding: 15px 20px;
}

@media (max-width: 991px) {
  #donate {
    border-radius: 0px;
    border-style: none;
    padding: 10px 0 10px 10px;
    margin-left: 0;
  }
}

#spacer {
  height: 5em;
}

#get-involved-form {
  height: 125em;
}

#booking-form {
  height: 120em;
}

#booking-schedule {
  height: 92em;
  position: relative;
  top: -95px;
}

ul.nav a:link,
ul.nav a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active,
#blogcontainer .blog-item:nth-child(odd) a:hover,
#blogcontainer .blog-item:nth-child(even) a:active {
  color: red;
}

.redcontainer a:link,
.redcontainer a:visited,
#blogcontainer .blog-item:nth-child(even) a:link,
#blogcontainer .blog-item:nth-child(even) a:visited {
  color: black;
  display: inline-block;
}

.redcontainer a:hover,
.redcontainer a:active,
#blogcontainer .blog-item:nth-child(even) a:hover,
#blogcontainer .blog-item:nth-child(even) a:active {
  color: white;
}

#testimonial .swiper-pagination-bullets {
  position: relative !important;
}

.testimonial-quote {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.testimonial-slider blockquote {
  text-align: center;
  border: none;
  padding-top: 10px;
}

.testimonial-slider blockquote > p {
  font-size: 1.1em;
}

.testimonial-from {
  color: #ef233c;
}

.brands a {
  padding: 0px;
}

.testimonial-slider .swiper-pagination {
}

.testimonial-slider .swiper-pagination-bullet {
  background: #e5e5e5;
  opacity: 1;
  border-color: #e5e5e5;
}

.testimonial-slider .swiper-pagination-bullet-active {
  background: #ef233c;
  opacity: 1;
  border-color: #ef233c;
}

img.parents {
  max-width: 100%;
}

#Memberships .nav-tabs li.active > [role="tab"] {
  background: #ef233c;
  color: #ffffff;
}

#club-membership p {
  margin-bottom: 15px;
}

.membership-email {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 15px;
}

.membership-email p {
  display: inline-block;
  margin-bottom: 0;
}

#executive-membership {
  text-align: center;
}

#executive-membership ul {
  text-align: center;
  padding: 0;
  margin: 20px 0;
}

#executive-membership ul li {
  list-style: none;
}

.smaller-width-paragraph {
  max-width: 700px;
  margin: auto auto;
}

.executive > .row {
  // margin-bottom: 2em;
  // text-align: center;
}

.executive > .row > .exec-card > *:hover {
  cursor: pointer;
}

.executive_modal > .row {
  // padding: 4em;
}

.executive img,
.executive_modal img {
  max-height: 500px;
  width: 65%;
  margin: auto;
  display: block;
  background: #dddddd;
  padding: 5px;
  text-align: center;
  line-height: 23;
}

@media (max-width: 767px) {
  .executive_modal img {
    width: 100%;
  }
  .executive_modal p {
    text-align: left !important;
  }
}

.executive h3,
.executive_modal h3 {
  margin: 0.5em;
  color: black;
  font-family: "Roboto";
}

.executive h4 {
  text-align: center;
  margin-bottom: 3em;
}
.executive_modal h3 {
  margin-top: 1em;
}
.executive_modal h4 {
  text-align: center;
  margin-bottom: 1em;
}

// .executive h3:last-of-type {
//   margin-bottom: 3em;
// }

.executive_modal p {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 0 1em;
  text-indent: 2em;
  line-height: 2em;
}

hr {
  margin: 4em auto;
  height: 2px;
  background: #d00000;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Blog Content
*/
#blog-banner {
  margin-top: 5em;
}

.date-location {
  text-align: center;
  font-size: 1.2em;
  margin: 1em 1em;
  font-family: "Caviar Dreams";
  font-weight: bold;
}

.date-location span {
  padding: 0 1em;
}

@media (max-width: 767px) {
  .date-location span {
    display: block;
    padding: 0.2em 0;
  }
}

.blog-icons {
  width: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.blog-item {
  margin-top: 3em;
  padding: 2em 0px;
}

#faqAccordion a {
  color: black;
}

#blogcontainer .blog-item:nth-child(odd),
.greycontainer {
  background-color: #e5e5e5;
  color: black;
}

#blogcontainer .blog-item:nth-child(odd) #date {
  content: url("../assets/images/blog-images/blog-icons/calendar-black.png");
}

#blogcontainer .blog-item:nth-child(odd) #location {
  content: url("../assets/images/blog-images/blog-icons/location-black.png");
}

#blogcontainer .blog-item:nth-child(even) #date {
  content: url("../assets/images/blog-images/blog-icons/calendar-white.png");
}

#blogcontainer .blog-item:nth-child(even) #location {
  content: url("../assets/images/blog-images/blog-icons/location-white.png");
}

#blogcontainer .blog-item:nth-child(even) {
  background-color: #d00000;
  color: white;
}

.blog-content {
  margin-top: 2em;
  text-align: center;
}

#blogcontainer {
  padding: 0px;
}

.blog-content p {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  padding: 2em;
  width: 80%;
}

@media (max-width: 767px) {
  .blog-content p {
    width: 100%;
  }

  .blog-content {
    margin: 2em 0px;
  }
}

span {
  white-space: nowrap;
}

#warning {
  color: red;
}

a:hover > .icon {
  color: red;
}

/** ------------------------------------- 
Login
*/

.identity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;

  .identity-card {
    width: 320px;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);

    img {
      margin-bottom: 30px;
      width: 150px;
      height: 70px;
    }

    .password-reset {
      width: 100%;
      font-size: 14px;
      text-align: right;
      margin-bottom: 30px;
    }

    button {
      width: 100%;
      color: #ffffff;
      padding: 10px;
      background-color: #ef233c;
      border: none;
      border-radius: 6px;
    }
  }

  .disclaimer {
    width: 320px;
    border: 1px solid #c4c4c4;
    padding: 10px 15px;
    border-radius: 6px;

    p {
      font-size: 12px;
      margin: 0;

      span {
        font-weight: 500;
      }
    }
  }
}

.register-error {
  margin-top: 20px;

  p,
  a {
    display: inline-block;
    font-size: 12px;
  }
}

.input-wrapper {
  margin-bottom: 20px;

  label {
    display: block;
    text-align: left;
    font-weight: 400;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ef233c;
    border-radius: 6px;
  }
}
