#testContainer {
    padding: 0px 50px 0 0px !important;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    display: flex;
    /* min-height: 50vh; */
}

.col {
  flex: 1;
  height: 100%;
}

#sidebar {
    color: #FFFFFF;
    background: #D90429;
    padding: 80% 10% 90% 10%;
    height: 100% !important;
}

#sidebar span#formTitle {
    white-space: normal;
    font-size: 24px;
    font-weight: bold;
}

#sidebar span#formMsg {
    font-size: 20px;
    white-space: normal;
}

#formSection {
    
}
