.navigation-clean {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:5em;
  position: fixed;
    
  z-index: 20;
  width: 100%;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.navigation-clean .navbar-brand {
    font-weight:bold;
    color:inherit;
    padding-top: 5px;
    align-content: center;
    vertical-align: 
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left:10px;
  padding-right:10px;
}

.navigation-clean.navbar .navbar-nav> li > a:hover{
    background-color:#ddd;
} 

.navigation-clean.navbar-default .navbar-nav > li > a {
  color:#000;
}



.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
    color:#000;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu > li > a:hover{
    background:#ddd;
  }
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#000;
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
  background:#ddd;
  color:inherit;
}



@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}