.simple-slider .swiper-slide {
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {

  width:50px;
  margin-left:20px;
  margin-right:20px;

}
.simple-slider .swiper-button-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E");
}
.simple-slider .swiper-button-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E");
}

.simple-slider .swiper-pagination-bullet-active {
    background: #f00;opacity: 1;
border-color: #f00;}


@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
    
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}

