h1 {
    font-size: 4em
}

h2 {
  font-weight:bold
}

p {
  font-size: 1.2em;
}

.coloredcontainer{
    background-color: #FF1919;
    color:white;
    width: 100%;
    padding: 4em 0em;
}

main > .container{
    padding: 4em 0em;
}

#logo {
    height:2em;
}

#spacer{
    height: 5em;
}
ul{
  font-size: 1.2em;
}

.getInvolvedH1 {
    text-align: center;
    font-weight: bold;
}

.getInvolvedH3 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 2em auto;
}

@media (max-width: 767px) {
    .getInvolvedH3 {
        font-size: 2em;
        margin: 1em auto;
    }
    .getInvolvedH1 {
        font-size: 2em;
    }
    .form {
        height: 700px;
    }
}

.form {
    height: 1000px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: white;
}