h2 {
  font-weight:bold;
  margin-bottom:40px;
  color:inherit;
}
p {
  font-size: 1.2em;
}

.coloredcontainer{
    background-color: #FF1919;
    color:white;
    width: 100%;
    padding: 5em 0em;  
}   

#logo {
    height:2em;
}

#spacer{
    height: 5em;
}

.getInvolvedH1 {
    text-align: center;
    font-weight: bold;
}

.getInvolvedH3 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 2em auto;
}

@media (max-width: 767px) {
    .getInvolvedH3 {
        font-size: 2em;
        margin: 1em auto;
    }
    .getInvolvedH1 {
        font-size: 2em;
    }
    .form {
        height: 700px;
    }
}

.form {
    height: 1000px;
}