h1 {
    font-size: 4em
}
h2 {
  font-weight:bold;
  color:inherit;
}
p {
  font-size: 1.2em;
}

.coloredcontainer{
    background-color: #FF1919;
    color:white;
    width: 100%;
    padding: 4em 0em;
}
main > .container{
    padding: 4em 0em;
}

#logo {
    height:2em;
}

#spacer{
    height: 5em;
}
ul{
  font-size: 1.2em;
}


a:link, a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    color: white;
}
